<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-5xl mx-auto">
        <div class="card">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">In Progress</p-tab>
                    <p-tab value="1">Completed</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-4">
                            <div *ngFor="let product of products">
                                <p-card class="shadow-lg">
                                    <ng-template pTemplate="header">
                                        <div class="flex justify-between items-center p-3">
                                            <h3 class="text-xl font-bold">{{ product.productName }}</h3>
                                            <p-tag [value]="product.date"></p-tag>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="content">
                                        <div class="grid lg:grid-cols-2 grid-cols-2 gap-2">
                                            <div *ngFor="let checklist of product.checklists"
                                                class="flex items-center gap-2">
                                                <p-checkbox [binary]="true" [disabled]="true"
                                                    [(ngModel)]="checklist.isDone" styleClass="mr-2">
                                                </p-checkbox>
                                                <span class="text-sm">
                                                    {{ checklist.name }}
                                                </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-card>
                            </div>
                        </div>

                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p class="m-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem
                            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                            sunt explicabo.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni
                            dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                            numquam eius
                            modi.
                        </p>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
        <p-button label="Create Production Run" />
    </div>
</div>