<div class="min-h-screen flex items-center justify-center px-4">
  <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md">
    <div class="text-center mb-6">
      <i class="pi pi-user text-yellow-500" style="font-size: 2.5rem;"></i>
      <h2 class="text-2xl font-bold mt-2">Welcome Back</h2>
      <p class="text-sm text-gray-500">Login to your account</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1 grid-cols-1 gap-6">
        <p-floatlabel variant="on">
          <input pInputText id="email" formControlName="email" autocomplete="off" />
          <label for="email">Email</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-password id="password" formControlName="password" autocomplete="off" [toggleMask]="true" [feedback]="false" />
          <label for="password">Password</label>
        </p-floatlabel>

        <p-button label="Login" type="submit" class="text-right" [disabled]="loginForm.invalid"></p-button>
      </div>
    </form>
  </div>
</div>